
/* In your form-component.component.css file or global styles.css */
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.custome-form-var{
  display: flex;
  flex-direction: column;
}

