<div class="center-container p-2">
  <div class="card" style="width: 18rem">
    <form
      [formGroup]="myForm"
      (ngSubmit)="onSubmit()"
      class="d-flex flex-column gap-3 p-3"
    >
      <div
        *ngFor="let letter of uppercaseAlphabet"
        class="form-group d-flex justify-content-center align-items-center gap-2"
      >
        <label [for]="letter">
          <div class="d-flex gap-2">
            <span>{{ letter }}</span>
            <span> = </span>
          </div>
        </label>
        <div>
          <input
            type="number"
            [id]="letter"
            [formControlName]="letter"
            class="form-control m-2"
            [title]="letter"
            placeholder="Enter value for {{ letter }}"
            type="number"
          />
        </div>
        <div
          class="d-flex jusinpy-content-center align-items-center gap-2 ml-1"
          *ngIf="getLastAlph === letter"
        >
          <button
            class="btn btn-primary"
            type="button"
            (click)="incrementField()"
          >
            +
          </button>
          <button
            class="btn btn-danger"
            type="button"
            (click)="decrementField()"
            *ngIf="disableDecrement"
          >
            -
          </button>
        </div>
      </div>
      <div
        class="form-group custom-form d-flex justify-content-center flex-column align-items-center gap-2"
      >
        <h4 for="result">
          {{ onlyAlphabets }} =
          {{ result.split(",")[0] }}
        </h4>
      </div>
      <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-primary" [disabled]="!myForm.valid">
          Calculate
        </button>
        <button type="button" class="btn btn-secondary" (click)="resetForm()">
          Reset
        </button>
      </div>
    </form>
  </div>
  <div class="bottom-right">
    <button class="btn btn-primary" type="button" (click)="goBack('')">
      <i class="bi bi-house"></i>
    </button>
  </div>
</div>